html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.is-danger {
    background: #d6192f;
}

.splash-img {
    width: 300px;
    height: 300px;
}

.icon {
    text-align: center;
    font-size: 5rem;
    width: 100%;
    margin: 4rem 0px 3rem 0px;
}

body {
    background: #d6192f;
}

.hero {
    background: white;
}

#cards {
    background-image: linear-gradient(bottom, #d6192f 50%, #FFFFFF 50%);
    background-image: -o-linear-gradient(bottom, #d6192f 50%, #FFFFFF 50%);
    background-image: -moz-linear-gradient(bottom, #d6192f 50%, #FFFFFF 50%);
    background-image: -webkit-linear-gradient(bottom, #d6192f 50%, #FFFFFF 50%);
    background-image: -ms-linear-gradient(bottom, #d6192f 50%, #FFFFFF 50%);
}

#cards {
    text-align: center;
}